<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crud.mapper.BoardXMLMapper">
    <select id="selectBoardAll" resultType="com.crud.dto.BoardDto">
        SELECT * FROM board;
    </select>

    <select id="selectBoard" parameterType="Long" resultType="BoardDto">
        SELECT * FROM board WHERE id = #{id};
    </select>

</mapper>