<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>게시글 상세보기</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/CSS/MainCS.css}">-->
<!--</head>-->
<!--<body>-->
<!--<h1>readPage</h1>-->

<!--&lt;!&ndash;    <h1>[[${board.id}]]</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>[[${board.name}]]</h3>&ndash;&gt;-->

<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;        글 내용:[[$board.text]]&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->



<!--&lt;!&ndash;    <div id="comment">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" class="btn btn-dark">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="hyperlink">&ndash;&gt;-->
<!--&lt;!&ndash;                댓글 작성&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" class="btn btn-dark">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="hyperlink">&ndash;&gt;-->
<!--&lt;!&ndash;                댓글 수정&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" class="btn btn-dark">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="hyperlink">&ndash;&gt;-->
<!--&lt;!&ndash;                댓글 삭제&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--&lt;!&ndash;    </div>&ndash;&gt;-->


<!--&lt;!&ndash;    <a th:href="@{/{id}(id=${board.id})}">홈</a>&ndash;&gt;-->


<!--&lt;!&ndash;    <form th:action="@{delete/{id}(id=${board.id})}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="subumit" value="Delete">&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->










<!--</body>-->
<!--</html>-->

<!-- read.html -->
<!-- read.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Read Post</title>
</head>
<body>
<h1 th:text="${board.name}">Default Title</h1>
<p th:text="${board.text}">Default text</p>
<p th:text="${board.password}">Default Password</p>
</body>
</html>

